name: CI

on:
  push:
    branches:
      - "**"
      - "!dependabot/**"
    tags:
      - "v**"
  pull_request:
  workflow_dispatch:

env:
  FORCE_COLOR: 2
  NODE_LTS: 20 # used for linting and publish

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_LTS }}
          cache: npm

      - name: Install npm dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

  test:
    name: Node ${{ matrix.node }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node:
          - 16
          - 18
          - 20

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: npm

      - name: Install npm dependencies
        run: npm ci

      - name: Run tests
        run: npm run test:ci

  test-extended:
    name: Node on ${{ matrix.os }} (Extended)
    runs-on: ${{ matrix.os }}
    env:
      HUGO_BIN_BUILD_TAGS: extended

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_LTS }}
          cache: npm

      - name: Install npm dependencies
        run: npm ci

      - name: Print hugo version
        run: npm exec hugo version

      - name: Run tests
        run: npm run test:ci

  publish:
    name: Publish on npm
    if: github.repository == 'fenneclab/hugo-bin' && startsWith(github.ref, 'refs/tags/')
    needs: [lint, test, test-extended]
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_LTS }}
          registry-url: 'https://registry.npmjs.org'

      - name: Publish on npm
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
