name: Publish to NPM

on:
  push:
    tags:
    - 'v*'

permissions:
  id-token: write
  contents: read

jobs:
  npm:
    name: Publish to NPM
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: "24"
        registry-url: "https://registry.npmjs.org"
    - run: npm install -g npm@latest
    - run: npm ci
    - run: npm publish
