name: Publish to NPM

on:
  push:
    tags:
    - 'v*'

jobs:
  npm:
    name: Publish to NPM
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: 16
        registry-url: https://registry.npmjs.org/
    - run: yarn install --frozen-lockfile
    - run: yarn publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
