name: Run tests

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  test:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest
        node:
        - 16
        - 14
        - 12
      fail-fast: false
    runs-on: ${{ matrix.os }}
    name: Node ${{ matrix.node }} on ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node }}
    - run: yarn install --frozen-lockfile
      env:
        DEBUG: careful-downloader
        DEBUG_HIDE_DATE: 1
        DEBUG_COLORS: 0
    - run: yarn audit
    - run: yarn test
    - name: Checkout gohugoio/hugoBasicExample
      uses: actions/checkout@master
      with:
        repository: gohugoio/hugoBasicExample
        path: site/
        fetch-depth: 1
    - name: Build example site
      run: node lib/cli.js --source site/ --minify --verbose
