name: Run tests

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  test:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest
        node:
        - 24
        - 22
        - 20
        - 18
      fail-fast: false
    runs-on: ${{ matrix.os }}
    name: Node ${{ matrix.node }} on ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node }}
    - name: Install
      run: npm ci
    - name: Lint and check types
      run: npm run lint && npm run typecheck
    - name: Build
      run: npm run build
    - name: Print Hugo version
      run: ./dist/cli.mjs version
    - name: Create new site
      run: ./dist/cli.mjs new site mysite
    - name: Build site
      run: ./dist/cli.mjs --source mysite/ --minify --enableGitInfo --logLevel info
