name: Run tests

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  test:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest
        node:
        - 24
        - 22
        - 20
      fail-fast: false
    runs-on: ${{ matrix.os }}
    name: Node ${{ matrix.node }} on ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node }}
    - run: npm ci
      env:
        DEBUG: careful-downloader
        DEBUG_HIDE_DATE: 1
        DEBUG_COLORS: 0
    - run: npm audit --omit=dev
      continue-on-error: true
    - run: npm run test
    - run: node lib/cli.js new site mysite
    - run: node lib/cli.js --source mysite/ --minify --enableGitInfo --logLevel info
